.header {
  --color-header-bg: rgb(0 0 0 / 50%);
  --color-header-font: rgb(255 255 255 / 50%);
  --color-header-font-selected: rgb(255 255 255);
  --color-header-logo: rgb(255 255 255);
  --color-header-menu: rgb(255 255 255);
  --color-header-button-bg: rgb(255 255 255);
  --color-header-button-bg-hover: rgb(255 255 255);
  --color-header-button-font: rgb(0 0 0);
}
