@use "../../../styles/function" as *;
@use "../../../styles/mixins";

.page {
  display: grid;
  grid-template-rows: auto min-content;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--color-body-bg, rgb(248 249 249));
}

.main {
  display: flex;
  margin: 63px 16px;

  @include mixins.respond-to-medium {
    width: calc(100% - 2rem);
    max-width: 1240px;
    max-height: 100%;
    margin: 90px auto 0;
  }
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: calc(100vw - 2rem);
  min-height: 311px;
  max-height: 311px;
  background: rgb(0 0 0 / 3%);
  border-radius: 14px;

  @include mixins.respond-to-medium {
    max-width: none;
    height: 320px;
    min-height: auto;
    max-height: 320px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1204px) {
    height: 520px;
    max-height: 520px;
  }

  .img {
    display: flex;
    max-width: 100%;
    max-height: 256px;
    aspect-ratio: 650 / 474;

    @include mixins.respond-to-medium {
      max-height: 100%;
    }

    @supports not (aspect-ratio: 5 / 4) {
      width: 279px;
      max-width: 279px;
      height: 234px;
      max-height: 234px;
    }

    img {
      max-width: inherit;
      max-height: inherit;
    }
  }
}

.title {
  margin-top: 18px;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: calc-clamp(1.375rem, 2.25rem);
  line-height: 1;

  @supports not (font-size: clamp(1px, 1vw, 2px)) {
    font-size: 1.375rem;

    @include mixins.respond-to-medium {
      font-size: 2.25rem;
    }
  }

  @include mixins.respond-to-medium {
    margin-top: 0;
    font-weight: 500;
  }
}

.choice {
  display: flex;
  flex-direction: column;
  color: rgb(0 0 0);
  font-weight: normal;

  @include mixins.respond-to-medium {
    grid-row: 1 / 3;
    grid-column: 2;
    justify-content: space-between;
    min-height: 540px;
  }

  p {
    margin-bottom: 1.5rem;
    color: rgb(104 104 104);
    font-size: calc-clamp(0.9375rem, 1.125rem);
    line-height: 1.3;

    @supports not (font-size: clamp(1px, 1vw, 2px)) {
      font-size: 0.9375rem;
    }

    @include mixins.respond-to-medium {
      margin-bottom: calc-clamp(0.5rem, 1.875rem);

      @supports not (font-size: clamp(1px, 1vw, 2px)) {
        margin-bottom: 1.875rem;
        font-size: 1.125rem;
      }
    }
  }

  .reseller {
    display: grid;
    /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: calc-clamp(0.875rem, 1.5rem) 0;

    @supports not (font-size: clamp(1px, 1vw, 2px)) {
      margin: 0.875rem 0;

      @include mixins.respond-to-medium {
        margin: 1.5rem 0;
      }
    }
  }

  .check-shopify {
    display: grid;
    /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 0 0.875rem;

    @include mixins.respond-to-medium {
      margin: 1.5rem 0;
    }
  }
}

.card {
  display: grid;
  /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
  grid-template-columns: 1fr;
  justify-content: space-between;
  box-sizing: border-box;
  /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
  column-gap: 2rem;

  @include mixins.respond-to-medium {
    grid-template-rows: auto min-content max-content;
    /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
    grid-template-columns: 650fr 490fr;
    max-width: 1260px;
  }

  @media screen and (min-width: 1204px) {
    grid-template-rows: minmax(auto, 520px) min-content auto;
    /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
    grid-template-columns: 650px 490px;
    width: 100%;
    margin-bottom: 38px;
    /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
    column-gap: unset;
  }
}

.props {
  display: grid;
  /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
  grid-template-columns: 1fr;
  gap: 10px;
  /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
  height: min-content;
  margin-top: 20px;

  @include mixins.respond-to-medium {
    /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
    grid-template-columns: repeat(auto-fit, minmax(calc((100% - 40px) / 3), 1fr));
    gap: 20px;
  }
}

.prop {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1.125rem 1.25rem;
  color: rgb(0 0 0);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  background: rgb(0 0 0 / 3%);
  border-radius: 20px;

  svg {
    margin-right: 24px;
    stroke: rgb(0 0 0);
  }

  @include mixins.respond-to-medium {
    flex-direction: column;
    justify-content: start;
    width: 100%;
    min-height: 140px;
    padding: 31px 28px;
    font-size: 1rem;

    @supports not(font-size: clamp(1px, 1vw, 2px)) {
      padding: 0.125rem;
      font-size: 0.75rem;
    }

    svg {
      flex-shrink: 0;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

.info {
  display: grid;
  /* stylelint-disable-next-line  plugin/no-unsupported-browser-features */
  grid-template-columns: repeat(2, 1fr);
  align-content: flex-end;
  width: 100%;

  > * {
    display: flex;
    white-space: nowrap;

    &:nth-child(2n) {
      justify-content: flex-end;
    }

    &:nth-child(1) {
      font-weight: 600;
    }

    &:nth-child(2) {
      font-weight: 500;
    }

    &:nth-child(-n+2) {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 1;

      @include mixins.respond-to-medium {
        font-weight: 500;
        font-size: 24px;
      }
    }

    &:nth-child(n+3) {
      color: rgb(104 104 104);
      font-weight: 400;
      font-size: 12px;
      line-height: 1;

      @include mixins.respond-to-medium {
        font-size: 15px;
        line-height: 18px;
      }
    }

    &:nth-child(4) {
      text-decoration: line-through;

      @include mixins.respond-to-medium {
        font-size: 18px;
      }
    }
  }

  @include mixins.respond-to-medium {
    flex-direction: row;
    font-weight: 500;
  }
}

.radio {
  display: none;

  + label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background: rgb(255 255 255);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 14px;

    @include mixins.respond-to-medium {
      align-items: normal;
      padding: 24px 20px;
      border-radius: 20px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &:checked + label {
    border-color: rgb(0 0 0);
    box-shadow: 0 0 0 4px rgb(223 224 224);

    @include mixins.respond-to-medium {
      box-shadow: 0 0 0 6px rgb(0 0 0 / 10%);
    }
  }
}

.form {
  > span {
    display: none;

    @include mixins.respond-to-medium {
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.3;
    }
  }
}

.stories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 6px;
  padding-top: 20px;
  color: rgb(0 0 0);
  font-weight: 600;
  font-size: calc-clamp(0.9375rem, 1.125rem);
  line-height: 1.3;
  border-top: 1px solid rgb(233 233 233);

  @supports not(font-size: clamp(1px, 1vw, 2px)) {
    font-size: 0.9375rem;

    @include mixins.respond-to-medium {
      font-size: 1.125rem;
    }
  }

  @include mixins.respond-to-medium {
    margin-top: 40px;
    margin-bottom: 0;
    padding-top: 36px;
    font-weight: 500;
  }

  span {
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  svg {
    fill: black;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background: rgb(118 118 128 / 12%);
    border-radius: 50%;
    transform: rotate(0deg);

    @include mixins.motion {
      transition: all 0.3s ease;
    }

    @include mixins.respond-to-medium {
      width: 40px;
      height: 40px;
    }
  }
}

.open button {
  transform: rotate(180deg);
}

.list {
  max-height: 0;
  overflow: hidden;

  &.list-open {
    max-height: unset;
    overflow: auto;
  }

  @include mixins.motion {
    transition: all 0.3s ease;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 78px;

    &:not(:first-child) {
      border-top: 1px solid rgb(233 233 233);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 86px;
      height: 36px;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      border: 1px solid rgb(0 0 0);
      border-radius: 100px;

      @include mixins.respond-to-medium {
        width: 101px;
        height: 46px;
        font-size: 20px;
      }
    }
  }
}

.decrement,
.increment {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  background: rgb(118 118 128 / 12%);
  border-radius: 50%;

  @include mixins.respond-to-medium {
    width: 40px;
    height: 40px;
  }

  &::before {
    position: absolute;
    top: 16px;
    left: 9px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: rgb(0 0 0);
    border-radius: 2px;
    content: "";

    @include mixins.respond-to-medium {
      top: 19px;
      left: 11px;
      width: 18px;
    }
  }

  &.disabled::before {
    background-color: rgb(0 0 0 / 30%);
  }
}

.increment {
  &::after {
    position: absolute;
    top: 16px;
    left: 9px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: rgb(0 0 0);
    border-radius: 2px;
    transform: rotate(90deg);
    content: "";

    @include mixins.respond-to-medium {
      top: 19px;
      left: 11px;
      width: 18px;
    }
  }
}

.quantity {
  max-width: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @include mixins.respond-to-medium {
    font-size: 24px;
  }
}

.quantity-label {
  display: inline-block;
  margin-bottom: calc-clamp(0.5rem, 1.5rem);
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;

  @include mixins.respond-to-medium {
    font-weight: 500;
    font-size: 18px;
  }

  @supports not (font-size: clamp(1px, 1vw, 2px)) {
    margin-bottom: 0.5rem;

    @include mixins.respond-to-medium {
      margin-bottom: 1.5rem;
    }
  }
}

.counter-block {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: solid 1px rgb(233 233 233);

  @include mixins.respond-to-medium {
    padding-bottom: 40px;
  }
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.total {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  justify-content: space-between;
  width: 100%;
  padding-top: 24px;

  @include mixins.respond-to-medium {
    padding-top: 42px;
  }

  button {
    @include mixins.respond-to-medium {
      width: 160px;
    }
  }

  .label {
    display: flex;
    color: rgb(104 104 104);
    font-size: 12px;
    line-height: 1.2;

    @include mixins.respond-to-medium {
      font-size: 15px;
    }
  }

  .value {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;

    @include mixins.respond-to-medium {
      font-size: 30px;
    }
  }
}

.gift {
  padding-left: 51px;
  color: rgb(30 30 30);
  font-size: 15px;
  line-height: 1.3;
  background-image: url("/svg/gift-red.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 39px 28px;

  @include mixins.respond-to-medium {
    padding-left: 95px;
    font-size: 18px;
    background-size: 66px 48px;
  }

  h2 {
    margin-bottom: 8px;
    color: rgb(67 97 78);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;

    @include mixins.respond-to-medium {
      font-size: 28px;
    }
  }
}

.details {
  margin-top: 46px;
  color: rgb(162 162 162);
  white-space: break-spaces;

  @include mixins.respond-to-medium {
    margin-top: 56px;
  }

  h3 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    @include mixins.respond-to-medium {
      margin-bottom: 40px;
      font-size: 24px;
    }
  }

  p {
    font-size: 12px;
    line-height: 1.3;

    @include mixins.respond-to-medium {
      font-size: 15px;
    }
  }

  ul {
    margin: 1rem 0 1rem 1rem;
    list-style: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.christmas {
  --color-body-bg: rgb(248 249 249);
  --color-pricing-card-bg: rgb(0 0 0 / 3%);
  --color-pricing-card-font: rgb(255 255 255);
  --color-button-primary-bg: rgb(67 97 78);
  --color-button-primary-bg-hover: rgb(93 136 108);
  --color-header-bg: rgb(255 255 255);
  --backdrop-filter-header: none;

  &.page {
    height: 100%;
    overflow: hidden;
  }

  .main {
    flex-direction: column-reverse;
    margin-top: 47px;

    @include mixins.respond-to-medium {
      margin-top: 60px;
    }
  }

  .card {
    max-width: calc(100vw - 2rem);
  }

  .choice {
    position: relative;
    z-index: 2;
    justify-content: flex-start;
  }

  .check-shopify {
    margin-bottom: 24px;

    @include mixins.respond-to-medium {
      margin-bottom: 75px;
    }
  }

  .promo {
    margin-right: -1rem;
    margin-left: -1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: rgb(30 30 30 / 100%);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    background-image: url("/img/christmas/christmas-mobile.png");
    background-repeat: no-repeat;
    background-position: 55% 110px;
    background-size: auto 297px;

    @include mixins.retina {
      background-image: url("/img/christmas/christmas-mobile@2x.png");
    }

    @include mixins.respond-to-medium {
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      width: 120%;
      min-width: 1240px;
      max-width: calc(100% + 220px);
      min-height: 722px;
      margin: 0;
      padding-right: 54%;
      padding-left: 5px;
      font-size: 24px;
      background-image: url("/img/christmas/christmas.png");
      background-repeat: no-repeat;
      background-position: 110% 0;
      background-size: contain;

      @include mixins.retina {
        background-image: url("/img/christmas/christmas@2x.png");
      }
    }

    h2 {
      position: relative;
      max-width: 665px;
      margin-bottom: 291px;
      padding-top: 35px;
      font-weight: 500;
      font-size: 40px;
      font-style: normal;
      line-height: 0.9;
      white-space: break-spaces;

      @include mixins.respond-to-medium {
        margin-bottom: 0;
        padding-top: 0;
        font-size: 80px;
      }
    }

    p {
      position: relative;
      z-index: 1;
      max-width: 565px;
      margin-bottom: 12px;

      @include mixins.respond-to-medium {
        margin-bottom: 0;
      }
    }
  }

  .gift {
    background-image: url("/svg/pricing/gift-green.svg");
    background-position: 0 6px;

    p {
      white-space: break-spaces;
    }
  }

  .radio + label {
    position: relative;
    border: 1px solid rgb(0 0 0 / 10%);

    &:first-of-type::before {
      position: absolute;
      top: -34px;
      right: 10px;
      z-index: -1;
      display: block;
      width: 67px;
      height: 33px;
      background-image: url("/img/christmas/decor3.png");
      background-repeat: no-repeat;
      background-size: 67px 33px;
      content: "";

      @include mixins.retina {
        background-image: url("/img/christmas/decor3@2x.png");
      }

      @include mixins.respond-to-medium {
        top: -57px;
        display: block;
        width: 116px;
        height: 57px;
        background-size: 116px 57px;
      }
    }

    &:last-of-type::after {
      position: absolute;
      bottom: -40px;
      left: 0;
      z-index: -1;
      display: block;
      width: 81px;
      height: 39px;
      background-image: url("/img/christmas/decor2.png");
      background-repeat: no-repeat;
      background-size: 81px 39px;
      content: "";

      @include mixins.retina {
        background-image: url("/img/christmas/decor2@2x.png");
      }

      @include mixins.respond-to-medium {
        bottom: -81px;
        width: 156px;
        height: 81px;
        background-size: 156px 81px;
      }
    }
  }

  .radio:checked + label {
    box-shadow: 0 0 0 4px rgb(67 97 78);

    @include mixins.respond-to-medium {
      box-shadow: 0 0 0 6px rgb(67 97 78);
    }
  }

  .price {
    grid-column: 2;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
  }

  .stories {
    border-top: none;
  }

  .label {
    margin-bottom: 4px;
  }

  .value {
    color: rgb(67 97 78 / 100%);
  }
}

.soldout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px 22px 22px 80px;
  color: rgb(104 104 104);
  font-size: 15px;
  line-height: 1.2;
  background: rgb(240 241 241) url("/svg/soldout.svg") no-repeat 18px center;
  border-radius: 20px;

  h3 {
    color: rgb(0 0 0);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
  }
}
